In [54]:
import numpy as np
import pandas as pd
from sklearn .model_selection import train_test_split
import random

df = pd.read_csv("iris.data", header=None)
df.columns = ['Sepal Length', 'Sepal Width', 'Petal Length', 'Petal Width', 'Class']
df

     Sepal Length  Sepal Width  Petal Length  Petal Width           Class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [47]:
X = df.iloc[:, :-1]
X

     Sepal Length  Sepal Width  Petal Length  Petal Width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [48]:
Y = df.iloc[:,-1]
Y

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Class, Length: 150, dtype: object

In [68]:
# converts the dataframe into list
data = df.values.tolist()

# prepares 3 list for each type
data_setosa = []
data_versicolor = []
data_virginica = []

# assigns each to its list accordingly
for datum in data:
    if datum[4] == "Iris-setosa":
        data_setosa.append(datum)
    elif datum[4] == "Iris-versicolor":
        data_versicolor.append(datum)
    elif datum[4] == "Iris-virginica":
        data_virginica.append(datum)
        
# divides the data into input and label
X_setosa = [row[:4] for row in data_setosa] # gets first 4 columns as input 
Y_setosa = [row[4] for row in data_setosa] # class label as last column

# randomly divides each data by 50/50 train and test while maintaining class balance
x_setosa_train, x_setosa_test, y_setosa_train, y_setosa_test = train_test_split(X_setosa, Y_setosa, test_size = 0.5, random_state=42, shuffle=True)


X_versicolor = [row[:4] for row in data_versicolor] # gets first 4 columns as input 
Y_versicolor = [row[4] for row in data_versicolor] # class label as last column

x_versicolor_train, x_versicolor_test, y_versicolor_train, y_versicolor_test = train_test_split(X_versicolor, Y_versicolor, test_size = 0.5, random_state=42, shuffle=True)


X_virginica = [row[:4] for row in data_virginica] # gets first 4 columns as input 
Y_virginica = [row[4] for row in data_virginica] # class label as last column

x_virginica_train, x_virginica_test, y_virginica_train, y_virginica_test = train_test_split(X_virginica, Y_virginica, test_size = 0.5, random_state=42, shuffle=True)

random.seed(42)
# merges back the dataset into general x train, y train, x test and y test
X_train = x_setosa_train + x_versicolor_train + x_virginica_train
Y_train = y_setosa_train + y_versicolor_train + y_virginica_train

#shuffles while keeping the order
combined_train = list(zip(X_train, Y_train))
random.shuffle(combined_train)
X_train, Y_train = zip(*combined_train)


X_test = x_setosa_test + x_versicolor_test + x_virginica_test
Y_test = y_setosa_test + y_versicolor_test + y_virginica_test
combined_test = list(zip(X_test, Y_test))
random.shuffle(combined_test)
X_test, Y_test = zip(*combined_test)


print(len(X_train))
print(len(Y_train))

print(len(X_test))
print(len(Y_test))


print(X_train[74])
print(Y_train[74])

print(X_test[5])
print(Y_test[5])

75
75
75
75
[5.0, 3.5, 1.3, 0.3]
Iris-setosa
[6.5, 3.0, 5.5, 1.8]
Iris-virginica